/* ABOUT SECTION STYLES */

.about__img {
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about__box {
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  width: 100px;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.about__subtitle {
  font-size: var(--tiny-font-size);
}

/* BREAKPOINTS FOR ABOUT */
@media screen and (min-width: 576px) {
  .about__data {
      text-align: initial;
  }
  .about__info {
      justify-content: space-between;
  }
  .about__description {
      text-align: initial;
  }
}

@media screen and (min-width: 992px) {
  .about__container {
      column-gap: 5rem;
  }
}
